node_modules
**/node_modules
dist
.git
.github
.env
.env.local
*.log
coverage
.nyc_output
.husky
.vscode
.idea
*.md
!README.md
test
openapi.yaml
openapi.json
postman-collection.json
CHECKLIST.txt
DEPLOYED_URL.txt
VIDEO_LINK.txt
*.test.ts
*.spec.ts
frontend/dist
frontend/node_modules
